/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Geometria', Segoe UI, SegoeUI, Tahoma, Verdana, Arial, sans-serif;
  color: #231F20;
  background-color: #fff;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
img {
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.84em;
}
p {
  margin-top: 0;
  margin-bottom: 0.84em;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #00bcf2;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
caption {
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.eot');
  src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Medium.woff') format('woff2'), url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.eot');
  src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Bold.woff') format('woff2'), url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Regular.eot');
  src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Regular.woff') format('woff2'), url('../fonts/Geometria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.fixed-aspect {
  position: relative;
}
.fixed-aspect:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.fixed-aspect > div,
.fixed-aspect > iframe,
.fixed-aspect > video,
.fixed-aspect > embed,
.fixed-aspect > span,
.fixed-aspect > img,
.fixed-aspect > svg {
  position: absolute;
}
.fixed-aspect--4by3:before {
  padding-top: 75%;
}
.fixed-aspect--16by9:before {
  padding-top: 56.25%;
}
.fixed-aspect--2by1:before {
  padding-top: 50%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.section--col {
  min-height: 100vh;
}
.section--hero {
  padding: 0;
  height: 100vh;
  position: relative;
}
.section--hero:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), to(#231F20));
  background-image: linear-gradient(rgba(0, 0, 0, 0.0001) 0%, #231F20 100%);
  opacity: 0.1;
}
.section--hero .container {
  height: 100%;
}
@media screen and (min-height: 1081px), screen and (max-width: 911px), screen and (max-height: 767px) {
  .section--hero {
    padding: 230px 0;
    height: auto;
  }
  .section--hero .container {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 127px;
  }
  .section--hero {
    padding-bottom: 127px;
    padding-top: 80px;
  }
}
@media screen and (max-width: 360px) {
  .section {
    padding-top: 48px;
    padding-bottom: 28px;
  }
  .section--hero {
    padding-top: 48px;
    padding-bottom: 90px;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1182px;
}
.container:before,
.container:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.container:after {
  clear: both;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 894px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 606px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 318px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.row:after {
  clear: both;
}
.col--xs-1, .col--sm-1, .col--md-1, .col--lg-1, .col--xs-2, .col--sm-2, .col--md-2, .col--lg-2, .col--xs-3, .col--sm-3, .col--md-3, .col--lg-3, .col--xs-4, .col--sm-4, .col--md-4, .col--lg-4, .col--xs-5, .col--sm-5, .col--md-5, .col--lg-5, .col--xs-6, .col--sm-6, .col--md-6, .col--lg-6, .col--xs-7, .col--sm-7, .col--md-7, .col--lg-7, .col--xs-8, .col--sm-8, .col--md-8, .col--lg-8, .col--xs-9, .col--sm-9, .col--md-9, .col--lg-9, .col--xs-10, .col--sm-10, .col--md-10, .col--lg-10, .col--xs-11, .col--sm-11, .col--md-11, .col--lg-11, .col--xs-12, .col--sm-12, .col--md-12, .col--lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col--xs-1, .col--xs-2, .col--xs-3, .col--xs-4, .col--xs-5, .col--xs-6, .col--xs-7, .col--xs-8, .col--xs-9, .col--xs-10, .col--xs-11, .col--xs-12 {
  float: left;
}
.col--xs-12 {
  width: 100%;
}
.col--xs-11 {
  width: 91.66666667%;
}
.col--xs-10 {
  width: 83.33333333%;
}
.col--xs-9 {
  width: 75%;
}
.col--xs-8 {
  width: 66.66666667%;
}
.col--xs-7 {
  width: 58.33333333%;
}
.col--xs-6 {
  width: 50%;
}
.col--xs-5 {
  width: 41.66666667%;
}
.col--xs-4 {
  width: 33.33333333%;
}
.col--xs-3 {
  width: 25%;
}
.col--xs-2 {
  width: 16.66666667%;
}
.col--xs-1 {
  width: 8.33333333%;
}
.col--xs-pull-12 {
  right: 100%;
}
.col--xs-pull-11 {
  right: 91.66666667%;
}
.col--xs-pull-10 {
  right: 83.33333333%;
}
.col--xs-pull-9 {
  right: 75%;
}
.col--xs-pull-8 {
  right: 66.66666667%;
}
.col--xs-pull-7 {
  right: 58.33333333%;
}
.col--xs-pull-6 {
  right: 50%;
}
.col--xs-pull-5 {
  right: 41.66666667%;
}
.col--xs-pull-4 {
  right: 33.33333333%;
}
.col--xs-pull-3 {
  right: 25%;
}
.col--xs-pull-2 {
  right: 16.66666667%;
}
.col--xs-pull-1 {
  right: 8.33333333%;
}
.col--xs-pull-0 {
  right: auto;
}
.col--xs-push-12 {
  left: 100%;
}
.col--xs-push-11 {
  left: 91.66666667%;
}
.col--xs-push-10 {
  left: 83.33333333%;
}
.col--xs-push-9 {
  left: 75%;
}
.col--xs-push-8 {
  left: 66.66666667%;
}
.col--xs-push-7 {
  left: 58.33333333%;
}
.col--xs-push-6 {
  left: 50%;
}
.col--xs-push-5 {
  left: 41.66666667%;
}
.col--xs-push-4 {
  left: 33.33333333%;
}
.col--xs-push-3 {
  left: 25%;
}
.col--xs-push-2 {
  left: 16.66666667%;
}
.col--xs-push-1 {
  left: 8.33333333%;
}
.col--xs-push-0 {
  left: auto;
}
.col--xs-offset-12 {
  margin-left: 100%;
}
.col--xs-offset-11 {
  margin-left: 91.66666667%;
}
.col--xs-offset-10 {
  margin-left: 83.33333333%;
}
.col--xs-offset-9 {
  margin-left: 75%;
}
.col--xs-offset-8 {
  margin-left: 66.66666667%;
}
.col--xs-offset-7 {
  margin-left: 58.33333333%;
}
.col--xs-offset-6 {
  margin-left: 50%;
}
.col--xs-offset-5 {
  margin-left: 41.66666667%;
}
.col--xs-offset-4 {
  margin-left: 33.33333333%;
}
.col--xs-offset-3 {
  margin-left: 25%;
}
.col--xs-offset-2 {
  margin-left: 16.66666667%;
}
.col--xs-offset-1 {
  margin-left: 8.33333333%;
}
.col--xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col--sm-1, .col--sm-2, .col--sm-3, .col--sm-4, .col--sm-5, .col--sm-6, .col--sm-7, .col--sm-8, .col--sm-9, .col--sm-10, .col--sm-11, .col--sm-12 {
    float: left;
  }
  .col--sm-12 {
    width: 100%;
  }
  .col--sm-11 {
    width: 91.66666667%;
  }
  .col--sm-10 {
    width: 83.33333333%;
  }
  .col--sm-9 {
    width: 75%;
  }
  .col--sm-8 {
    width: 66.66666667%;
  }
  .col--sm-7 {
    width: 58.33333333%;
  }
  .col--sm-6 {
    width: 50%;
  }
  .col--sm-5 {
    width: 41.66666667%;
  }
  .col--sm-4 {
    width: 33.33333333%;
  }
  .col--sm-3 {
    width: 25%;
  }
  .col--sm-2 {
    width: 16.66666667%;
  }
  .col--sm-1 {
    width: 8.33333333%;
  }
  .col--sm-pull-12 {
    right: 100%;
  }
  .col--sm-pull-11 {
    right: 91.66666667%;
  }
  .col--sm-pull-10 {
    right: 83.33333333%;
  }
  .col--sm-pull-9 {
    right: 75%;
  }
  .col--sm-pull-8 {
    right: 66.66666667%;
  }
  .col--sm-pull-7 {
    right: 58.33333333%;
  }
  .col--sm-pull-6 {
    right: 50%;
  }
  .col--sm-pull-5 {
    right: 41.66666667%;
  }
  .col--sm-pull-4 {
    right: 33.33333333%;
  }
  .col--sm-pull-3 {
    right: 25%;
  }
  .col--sm-pull-2 {
    right: 16.66666667%;
  }
  .col--sm-pull-1 {
    right: 8.33333333%;
  }
  .col--sm-pull-0 {
    right: auto;
  }
  .col--sm-push-12 {
    left: 100%;
  }
  .col--sm-push-11 {
    left: 91.66666667%;
  }
  .col--sm-push-10 {
    left: 83.33333333%;
  }
  .col--sm-push-9 {
    left: 75%;
  }
  .col--sm-push-8 {
    left: 66.66666667%;
  }
  .col--sm-push-7 {
    left: 58.33333333%;
  }
  .col--sm-push-6 {
    left: 50%;
  }
  .col--sm-push-5 {
    left: 41.66666667%;
  }
  .col--sm-push-4 {
    left: 33.33333333%;
  }
  .col--sm-push-3 {
    left: 25%;
  }
  .col--sm-push-2 {
    left: 16.66666667%;
  }
  .col--sm-push-1 {
    left: 8.33333333%;
  }
  .col--sm-push-0 {
    left: auto;
  }
  .col--sm-offset-12 {
    margin-left: 100%;
  }
  .col--sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--sm-offset-9 {
    margin-left: 75%;
  }
  .col--sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--sm-offset-6 {
    margin-left: 50%;
  }
  .col--sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--sm-offset-3 {
    margin-left: 25%;
  }
  .col--sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 624px) {
  .col--s-1, .col--s-2, .col--s-3, .col--s-4, .col--s-5, .col--s-6, .col--s-7, .col--s-8, .col--s-9, .col--s-10, .col--s-11, .col--s-12 {
    float: left;
  }
  .col--s-12 {
    width: 100%;
  }
  .col--s-11 {
    width: 91.66666667%;
  }
  .col--s-10 {
    width: 83.33333333%;
  }
  .col--s-9 {
    width: 75%;
  }
  .col--s-8 {
    width: 66.66666667%;
  }
  .col--s-7 {
    width: 58.33333333%;
  }
  .col--s-6 {
    width: 50%;
  }
  .col--s-5 {
    width: 41.66666667%;
  }
  .col--s-4 {
    width: 33.33333333%;
  }
  .col--s-3 {
    width: 25%;
  }
  .col--s-2 {
    width: 16.66666667%;
  }
  .col--s-1 {
    width: 8.33333333%;
  }
  .col--s-pull-12 {
    right: 100%;
  }
  .col--s-pull-11 {
    right: 91.66666667%;
  }
  .col--s-pull-10 {
    right: 83.33333333%;
  }
  .col--s-pull-9 {
    right: 75%;
  }
  .col--s-pull-8 {
    right: 66.66666667%;
  }
  .col--s-pull-7 {
    right: 58.33333333%;
  }
  .col--s-pull-6 {
    right: 50%;
  }
  .col--s-pull-5 {
    right: 41.66666667%;
  }
  .col--s-pull-4 {
    right: 33.33333333%;
  }
  .col--s-pull-3 {
    right: 25%;
  }
  .col--s-pull-2 {
    right: 16.66666667%;
  }
  .col--s-pull-1 {
    right: 8.33333333%;
  }
  .col--s-pull-0 {
    right: auto;
  }
  .col--s-push-12 {
    left: 100%;
  }
  .col--s-push-11 {
    left: 91.66666667%;
  }
  .col--s-push-10 {
    left: 83.33333333%;
  }
  .col--s-push-9 {
    left: 75%;
  }
  .col--s-push-8 {
    left: 66.66666667%;
  }
  .col--s-push-7 {
    left: 58.33333333%;
  }
  .col--s-push-6 {
    left: 50%;
  }
  .col--s-push-5 {
    left: 41.66666667%;
  }
  .col--s-push-4 {
    left: 33.33333333%;
  }
  .col--s-push-3 {
    left: 25%;
  }
  .col--s-push-2 {
    left: 16.66666667%;
  }
  .col--s-push-1 {
    left: 8.33333333%;
  }
  .col--s-push-0 {
    left: auto;
  }
  .col--s-offset-12 {
    margin-left: 100%;
  }
  .col--s-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--s-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--s-offset-9 {
    margin-left: 75%;
  }
  .col--s-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--s-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--s-offset-6 {
    margin-left: 50%;
  }
  .col--s-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--s-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--s-offset-3 {
    margin-left: 25%;
  }
  .col--s-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--s-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--s-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1025px) {
  .col--md-1, .col--md-2, .col--md-3, .col--md-4, .col--md-5, .col--md-6, .col--md-7, .col--md-8, .col--md-9, .col--md-10, .col--md-11, .col--md-12 {
    float: left;
  }
  .col--md-12 {
    width: 100%;
  }
  .col--md-11 {
    width: 91.66666667%;
  }
  .col--md-10 {
    width: 83.33333333%;
  }
  .col--md-9 {
    width: 75%;
  }
  .col--md-8 {
    width: 66.66666667%;
  }
  .col--md-7 {
    width: 58.33333333%;
  }
  .col--md-6 {
    width: 50%;
  }
  .col--md-5 {
    width: 41.66666667%;
  }
  .col--md-4 {
    width: 33.33333333%;
  }
  .col--md-3 {
    width: 25%;
  }
  .col--md-2 {
    width: 16.66666667%;
  }
  .col--md-1 {
    width: 8.33333333%;
  }
  .col--md-pull-12 {
    right: 100%;
  }
  .col--md-pull-11 {
    right: 91.66666667%;
  }
  .col--md-pull-10 {
    right: 83.33333333%;
  }
  .col--md-pull-9 {
    right: 75%;
  }
  .col--md-pull-8 {
    right: 66.66666667%;
  }
  .col--md-pull-7 {
    right: 58.33333333%;
  }
  .col--md-pull-6 {
    right: 50%;
  }
  .col--md-pull-5 {
    right: 41.66666667%;
  }
  .col--md-pull-4 {
    right: 33.33333333%;
  }
  .col--md-pull-3 {
    right: 25%;
  }
  .col--md-pull-2 {
    right: 16.66666667%;
  }
  .col--md-pull-1 {
    right: 8.33333333%;
  }
  .col--md-pull-0 {
    right: auto;
  }
  .col--md-push-12 {
    left: 100%;
  }
  .col--md-push-11 {
    left: 91.66666667%;
  }
  .col--md-push-10 {
    left: 83.33333333%;
  }
  .col--md-push-9 {
    left: 75%;
  }
  .col--md-push-8 {
    left: 66.66666667%;
  }
  .col--md-push-7 {
    left: 58.33333333%;
  }
  .col--md-push-6 {
    left: 50%;
  }
  .col--md-push-5 {
    left: 41.66666667%;
  }
  .col--md-push-4 {
    left: 33.33333333%;
  }
  .col--md-push-3 {
    left: 25%;
  }
  .col--md-push-2 {
    left: 16.66666667%;
  }
  .col--md-push-1 {
    left: 8.33333333%;
  }
  .col--md-push-0 {
    left: auto;
  }
  .col--md-offset-12 {
    margin-left: 100%;
  }
  .col--md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--md-offset-9 {
    margin-left: 75%;
  }
  .col--md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--md-offset-6 {
    margin-left: 50%;
  }
  .col--md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--md-offset-3 {
    margin-left: 25%;
  }
  .col--md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 912px) {
  .col--m-1, .col--m-2, .col--m-3, .col--m-4, .col--m-5, .col--m-6, .col--m-7, .col--m-8, .col--m-9, .col--m-10, .col--m-11, .col--m-12 {
    float: left;
  }
  .col--m-12 {
    width: 100%;
  }
  .col--m-11 {
    width: 91.66666667%;
  }
  .col--m-10 {
    width: 83.33333333%;
  }
  .col--m-9 {
    width: 75%;
  }
  .col--m-8 {
    width: 66.66666667%;
  }
  .col--m-7 {
    width: 58.33333333%;
  }
  .col--m-6 {
    width: 50%;
  }
  .col--m-5 {
    width: 41.66666667%;
  }
  .col--m-4 {
    width: 33.33333333%;
  }
  .col--m-3 {
    width: 25%;
  }
  .col--m-2 {
    width: 16.66666667%;
  }
  .col--m-1 {
    width: 8.33333333%;
  }
  .col--m-pull-12 {
    right: 100%;
  }
  .col--m-pull-11 {
    right: 91.66666667%;
  }
  .col--m-pull-10 {
    right: 83.33333333%;
  }
  .col--m-pull-9 {
    right: 75%;
  }
  .col--m-pull-8 {
    right: 66.66666667%;
  }
  .col--m-pull-7 {
    right: 58.33333333%;
  }
  .col--m-pull-6 {
    right: 50%;
  }
  .col--m-pull-5 {
    right: 41.66666667%;
  }
  .col--m-pull-4 {
    right: 33.33333333%;
  }
  .col--m-pull-3 {
    right: 25%;
  }
  .col--m-pull-2 {
    right: 16.66666667%;
  }
  .col--m-pull-1 {
    right: 8.33333333%;
  }
  .col--m-pull-0 {
    right: auto;
  }
  .col--m-push-12 {
    left: 100%;
  }
  .col--m-push-11 {
    left: 91.66666667%;
  }
  .col--m-push-10 {
    left: 83.33333333%;
  }
  .col--m-push-9 {
    left: 75%;
  }
  .col--m-push-8 {
    left: 66.66666667%;
  }
  .col--m-push-7 {
    left: 58.33333333%;
  }
  .col--m-push-6 {
    left: 50%;
  }
  .col--m-push-5 {
    left: 41.66666667%;
  }
  .col--m-push-4 {
    left: 33.33333333%;
  }
  .col--m-push-3 {
    left: 25%;
  }
  .col--m-push-2 {
    left: 16.66666667%;
  }
  .col--m-push-1 {
    left: 8.33333333%;
  }
  .col--m-push-0 {
    left: auto;
  }
  .col--m-offset-12 {
    margin-left: 100%;
  }
  .col--m-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--m-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--m-offset-9 {
    margin-left: 75%;
  }
  .col--m-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--m-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--m-offset-6 {
    margin-left: 50%;
  }
  .col--m-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--m-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--m-offset-3 {
    margin-left: 25%;
  }
  .col--m-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--m-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--m-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col--lg-1, .col--lg-2, .col--lg-3, .col--lg-4, .col--lg-5, .col--lg-6, .col--lg-7, .col--lg-8, .col--lg-9, .col--lg-10, .col--lg-11, .col--lg-12 {
    float: left;
  }
  .col--lg-12 {
    width: 100%;
  }
  .col--lg-11 {
    width: 91.66666667%;
  }
  .col--lg-10 {
    width: 83.33333333%;
  }
  .col--lg-9 {
    width: 75%;
  }
  .col--lg-8 {
    width: 66.66666667%;
  }
  .col--lg-7 {
    width: 58.33333333%;
  }
  .col--lg-6 {
    width: 50%;
  }
  .col--lg-5 {
    width: 41.66666667%;
  }
  .col--lg-4 {
    width: 33.33333333%;
  }
  .col--lg-3 {
    width: 25%;
  }
  .col--lg-2 {
    width: 16.66666667%;
  }
  .col--lg-1 {
    width: 8.33333333%;
  }
  .col--lg-pull-12 {
    right: 100%;
  }
  .col--lg-pull-11 {
    right: 91.66666667%;
  }
  .col--lg-pull-10 {
    right: 83.33333333%;
  }
  .col--lg-pull-9 {
    right: 75%;
  }
  .col--lg-pull-8 {
    right: 66.66666667%;
  }
  .col--lg-pull-7 {
    right: 58.33333333%;
  }
  .col--lg-pull-6 {
    right: 50%;
  }
  .col--lg-pull-5 {
    right: 41.66666667%;
  }
  .col--lg-pull-4 {
    right: 33.33333333%;
  }
  .col--lg-pull-3 {
    right: 25%;
  }
  .col--lg-pull-2 {
    right: 16.66666667%;
  }
  .col--lg-pull-1 {
    right: 8.33333333%;
  }
  .col--lg-pull-0 {
    right: auto;
  }
  .col--lg-push-12 {
    left: 100%;
  }
  .col--lg-push-11 {
    left: 91.66666667%;
  }
  .col--lg-push-10 {
    left: 83.33333333%;
  }
  .col--lg-push-9 {
    left: 75%;
  }
  .col--lg-push-8 {
    left: 66.66666667%;
  }
  .col--lg-push-7 {
    left: 58.33333333%;
  }
  .col--lg-push-6 {
    left: 50%;
  }
  .col--lg-push-5 {
    left: 41.66666667%;
  }
  .col--lg-push-4 {
    left: 33.33333333%;
  }
  .col--lg-push-3 {
    left: 25%;
  }
  .col--lg-push-2 {
    left: 16.66666667%;
  }
  .col--lg-push-1 {
    left: 8.33333333%;
  }
  .col--lg-push-0 {
    left: auto;
  }
  .col--lg-offset-12 {
    margin-left: 100%;
  }
  .col--lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--lg-offset-9 {
    margin-left: 75%;
  }
  .col--lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--lg-offset-6 {
    margin-left: 50%;
  }
  .col--lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--lg-offset-3 {
    margin-left: 25%;
  }
  .col--lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--lg-offset-0 {
    margin-left: 0%;
  }
}
.svg-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 16px;
  height: 16px;
  fill: #231F20;
}
.svg-icon__glyph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: inherit;
}
.svg-icon-store {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.h1 {
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 1.111;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  .h1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.167;
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 360px) {
  .h1 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.4;
    margin-bottom: 45px;
  }
}
.h2 {
  font-size: 56px;
  font-size: 3.5rem;
  line-height: 1.143;
  font-weight: 600;
  margin-bottom: 0.95em;
}
@media screen and (max-width: 1100px) {
  .h2 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 360px) {
  .h2 {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.231;
    margin-bottom: 44px;
  }
}
.text {
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.556;
}
@media screen and (max-width: 1100px) {
  .text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 360px) {
  .text {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.429;
  }
}
.btn {
  text-decoration: none;
  color: #231F20;
  font-size: 16px;
  font-weight: 500;
  height: 41px;
  line-height: 38px;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  min-width: 192px;
  text-align: center;
  margin-top: 44px;
}
.btn__text {
  position: relative;
}
.btn__spot {
  position: absolute;
  left: 0;
  right: -25px;
  top: 1px;
  bottom: -14px;
  background-image: url(../images/spot.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
  will-change: opacity;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}
.btn:hover .btn__spot {
  opacity: 0.8;
}
.btn:after,
.btn:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border: 2px solid #231F20;
  height: 15px;
}
.btn:before {
  top: 0;
  border-bottom: 0;
}
.btn:after {
  bottom: 0;
  border-top: 0;
}
@media screen and (max-width: 1024px) {
  .btn {
    font-size: 14px;
    min-width: 143px;
    height: 33px;
    line-height: 36px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 360px) {
  .btn {
    margin-top: 35px;
  }
}
.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.hero__inner {
  position: relative;
  width: 100%;
}
.hero__img {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
}
.hero__img-block {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 45%;
  width: 800px;
}
.hero__img-block:before {
  content: '';
  display: block;
  padding-top: 65%;
}
.hero__img--wallet {
  will-change: transform;
  -webkit-animation: moveWalet infinite 4s;
          animation: moveWalet infinite 4s;
  -webkit-animation-timing-function: easeInOutCubic;
          animation-timing-function: easeInOutCubic;
}
.hero__img--shadow {
  will-change: opacity;
  -webkit-animation: moveshadw infinite 4s;
          animation: moveshadw infinite 4s;
  -webkit-animation-timing-function: easeInOutCubic;
          animation-timing-function: easeInOutCubic;
}
@media screen and (min-height: 1080px) {
  .hero {
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .hero__img-block {
    width: 733px;
    left: 32%;
  }
}
@media screen and (max-width: 1024px) {
  .hero__img {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (max-width: 768px) {
  .hero__inner {
    padding-right: 0;
  }
  .hero__img-block {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .hero__text {
    margin-right: 15px;
  }
  .hero__text br {
    display: none;
  }
}
@-webkit-keyframes moveWalet {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveWalet {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes moveshadw {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveshadw {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.list__item {
  position: relative;
  margin-bottom: 50px;
  padding-left: 72px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.556;
}
.list__item .svg-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 1024px) {
  .list__item {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 57px;
  }
}
@media screen and (max-width: 360px) {
  .list__item {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.429;
    margin-bottom: 52px;
  }
}
.test-col {
  height: 20px;
  background-color: #8fd0f8;
  margin-bottom: 10px;
}
